<style>
  .wrapper{
  min-height: 90vh;
}
  
  </style>


  <!-- BODY -->
 

<div class="wrapper">

  <div class="container ">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="scheduleFlight/add" (click)="add()" >Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="scheduleFlight/show" (click)="view()">View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="scheduleFlight/search" (click)="search()">Search</a>
    </li>
  </ul>
 
  
  <div class="container card shadow-lg p-3 mb-5 bg-white rounded">
      <h3>Add ScheduleFlight  </h3>
    <form>
      <label>ScheduleFlightId :</label>
      <input (blur)="validateId()" [(ngModel)]="scheduleFlight.scheduleFlightId" [ngModelOptions]="{standalone: true}" type="number" class="form-control col-md-5" id="scheduleFlightId" placeholder="...">
      <small *ngIf="idValid" style="color: red;">Invalid ID. Please enter an id between 1 to 999.</small>
      <br>
      <label>Source Airport :</label>
      <input  #a  type="text" class="form-control col-md-5"  placeholder="...">
      <br>
      <label>Destination Airport :</label>
      <input (blur)="validateAirports(a.value, b.value)"  #b  type="text" class="form-control col-md-5"  placeholder="...">
      <small *ngIf="airportValid" style="color: red;">Source and Destination cannot be the same</small>
      <br>
      <label>Departure Time :</label>
      <input  #c   class="dateselect" type="datetime-local" min="{{minDate | date: 'yyyy-MM-dd'}}" max="{{maxDate | date: 'yyyy-MM-dd'}}"  class="form-control col-md-5"  placeholder="..."  required>
      <br>
      <label>Arrival Time :</label>
      <input  #d  type="datetime-local" class="form-control col-md-5"  placeholder="..."  required>
      <br>
      <label>Ticket Cost :</label>
      <input (blur)="validateCost(); enableButton()" [(ngModel)]="scheduleFlight.ticketCost" [ngModelOptions]="{standalone: true}" type="number" class="form-control col-md-5" id="ticketCost" placeholder="...">
      <small *ngIf="costValid" style="color: red;">Cost limit exceeded.</small>

      <br>
      
      <div class="col-md-3 offset-md-9">
              <button [disabled]="!buttonFlag" type="button" class="confBtn btn btn-success" (click)="addScheduleFlight(scheduleFlight,a.value,b.value,c.value,d.value)">ADD SCHEDULE FLIGHTS</button>
          </div></form>
          </div>