a {
    cursor: pointer;
    color: white;
    font-weight: 700;
}

a:hover{
    text-decoration: none;
}

.navbar-brand{
    font-weight: 700;
}
.logInBtn{
    font-weight: 700;
    margin-right: 15px;
    border-radius: 0;
}
#navbarSupportedContent{
    position: absolute;
    right: 0;
}
.btn{
    border-radius: 0;
    margin-right: 20px;
}