.wrapper{
    min-height: 90vh;
    padding-top: 30vh;
}

a {
	color: #212121;
}

.card {
    width: 100%;
    border-radius: 0%;
    padding-bottom: 20px;
    text-align: center;
}

.title{
    text-align: center;
    color: white;
}